## Task 1: Load Data & Import Libraries

**Goal:** Set up your environment and download the dataset for analysis.

### Instructions:

1. Download the dataset using `opendatasets`.  
   - Dataset URL: https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results  
   - You may need to provide your Kaggle API credentials.


2. Set file paths for:
   - `athlete_data_filename` → `athlete_events.csv`
   - `regions_data_filename` → `noc_regions.csv`


3. Install and import the following libraries:
   - `pandas`, `numpy`
   - `matplotlib.pyplot`, `seaborn`
   - `plotly.express`
   - `ListedColormap` from `matplotlib.colors`


**Expected Output:**

- Dataset downloaded

- All libraries successfully imported

- File paths assigned

In [40]:
# 1. Download the dataset using `opendatasets`:
import opendatasets as od
od.download('https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results')

Skipping, found downloaded files in "./120-years-of-olympic-history-athletes-and-results" (use force=True to force download)

In [41]:
# 2. Set file paths:
athlete_data_filename = './120-years-of-olympic-history-athletes-and-results/athlete_events.csv'
regions_data_filename = './120-years-of-olympic-history-athletes-and-results/noc_regions.csv'

In [42]:
# 3. Install and import the libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from matplotlib.colors import ListedColormap

##  Task 2: Set Plot Style and Color Palette

Goal: Customize the appearance of your plots for consistent and clean visuals.

Instructions:
1. Set the global style for all plots using plt.style.use().
    - Use 'ggplot' for a simple, clean base style.
2. Define a custom color palette:
    - Use a list of hex color codes.
    - Example: ["#0a2e36", "#27FB6B", "#14cc60", "#036d19", "#09a129"]

3. Apply the color palette using Seaborn:
    - Use sns.set_palette().

In [65]:
# 1. Set the global style for all plots:
plt.style.use('ggplot')

In [66]:
# 2. Define a custom color palette:
custom_colors = ["#0a2e36", "#27FB6B", "#14cc60", "#036d19", "#09a129"]

In [67]:
# 3. Apply the color palette:
sns.set_palette(custom_colors)

## Task 3: Data Preparation

Goal: Prepare data for analysis.

Steps:
1. Load the file using pandas.
2. Look for some of the information about the data and the columns.
3. Fix any of the missing or incorrect values.
4. Which, and how much data types are in the dataset.
5. List the minimum age on the competence.

The focus of this EDA project will solely be on the "Summer Olympics", filter of all the "Winter Olympics Games" from the dataset.

In [68]:
# 1. Load the file using pandas.
athletes_df = pd.read_csv(athlete_data_filename)
regions_df = pd.read_csv(regions_data_filename)

In [69]:
# 2. Look for some of the information about the data and the columns.
athletes_df.head(10)
regions_df.head(10)

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN
5  ANG       Angola                   NaN
6  ANT      Antigua   Antigua and Barbuda
7  ANZ    Australia           Australasia
8  ARG    Argentina                   NaN
9  ARM      Armenia                   NaN

In [70]:
# 3. Fix any of the missing or incorrect values.

# Athletes Dataset
    # Look for NULL values
athletes_df.isnull().sum()
    # Replace the NULL values in the "Medal" column for "None"
    # 'Age', 'Height' and 'Weight columns are omitted as they are in task 5.
athletes_df.fillna({'Medal':'None'}, inplace=True)

# Region Dataset
    # Look for NULL values
regions_df.isnull().sum()
    # Replace the NULL values in the "notes" column for "None"
regions_df.fillna({'notes':'None'}, inplace=True)
    # 'region' column has 3 NULL values which values is in the 'notes' column.
    # Replace the NULL values in the "region" column for the corresponding values in the "notes"
mask = regions_df['region'].isnull()
# mask.head()
regions_df.loc[mask, 'region'] = regions_df.loc[mask, 'notes']
# regions_df.isnull().sum()
# regions_df[regions_df["notes"]=="Unknown"]

In [71]:
# 4. Which, and how much data types are in the dataset.
athletes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   271116 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [72]:
# 5. List the minimum age on the competence.
minimum_age = athletes_df['Age'].min()
print(minimum_age)

10.0

In [78]:
# 6. Filter of all the "Winter Olympics Games" from the dataset
summer_athletes_df = (athletes_df.loc[athletes_df['Season'] == "Summer"])
summer_athletes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222552 entries, 0 to 271110
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      222552 non-null  int64
 1   Name    222552 non-null  object
 2   Sex     222552 non-null  object
 3   Age     213363 non-null  float64
 4   Height  170695 non-null  float64
 5   Weight  168698 non-null  float64
 6   Team    222552 non-null  object
 7   NOC     222552 non-null  object
 8   Games   222552 non-null  object
 9   Year    222552 non-null  int64
 10  Season  222552 non-null  object
 11  City    222552 non-null  object
 12  Sport   222552 non-null  object
 13  Event   222552 non-null  object
 14  Medal   222552 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 27.2+ MB

## Task 4: Merging The Two Datasets Into One

**Goal:** Merge datasets.

Before we can begin analyzing the data, we need to combine the two datasets:  
- `athlete_events.csv` (athlete information)
- `noc_regions.csv` (region/country information)

Use the `pandas.merge()` function to do this.

###  Steps:

1. **Call `pd.merge()`**  
   This function merges two DataFrames based on one or more common columns (known as keys).

2. **Set merge type and key**  
   We'll perform a **left join** on the `NOC` column:
   - This keeps **all records** from `athlete_events` (left DataFrame).
   - It adds matching `region` data from `noc_regions` (right DataFrame).
   - Rows with no match in the right DataFrame will have `NaN` values in those columns.

In [84]:
# 1. Call `pd.merge()` and 2. Set merge type and key
summer_athletes_regions_df = pd.merge(summer_athletes_df, regions_df, how='left', on='NOC')
summer_athletes_regions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222552 entries, 0 to 222551
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      222552 non-null  int64
 1   Name    222552 non-null  object
 2   Sex     222552 non-null  object
 3   Age     213363 non-null  float64
 4   Height  170695 non-null  float64
 5   Weight  168698 non-null  float64
 6   Team    222552 non-null  object
 7   NOC     222552 non-null  object
 8   Games   222552 non-null  object
 9   Year    222552 non-null  int64
 10  Season  222552 non-null  object
 11  City    222552 non-null  object
 12  Sport   222552 non-null  object
 13  Event   222552 non-null  object
 14  Medal   222552 non-null  object
 15  region  222203 non-null  object
 16  notes   222203 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 28.9+ MB

In [96]:
# summer_athletes_regions_df.tail()
print(test_summer_athletes_regions_df = summer_athletes_regions_df['region'].isnull()
test_summer_athletes_regions_df.head(10)

TypeError: 'test_summer_athletes_regions_df' is an invalid keyword argument for print()

## Task 5: Finding and Replacing The Null Values In Our Dataset

**Goal:** Data cleaning and exploratory analysis.

### Cleaning Tasks:

- Visualize the distribution of missing values using pie charts or bar plots.

- Calculate and list the percentage of null values for each column. Replace missing values with the mean of the respective column when appropriate.

- Remove duplicate entries from the dataset to ensure accuracy.

### Exploratory Questions:

1. Which country has sent the most athletes to the Summer Olympics?

2. How has the number of athletes, countries, and events changed over time?

3. Which nations have won the most Olympic medals?

4. How has participation by male and female athletes evolved over time?

5. What is the correlation between the height and weight of Olympic participants?

6. In which sports has India won Olympic medals?

7. Which sports have contributed the most medals overall?

In [93]:
# Visualize the distribution of missing values using pie charts or bar plots.
missing_values = summer_athletes_regions_df.isnull().sum()
missing_values = missing_values[missing_values>0]
percentage = (missing_values / len(summer_athletes_regions_df)) * 100
percentage

Age        4.128923
Height    23.301071
Weight    24.198390
region     0.156817
notes      0.156817
dtype: float64

In [ ]:
# Calculate and list the percentage of null values for each column. Replace missing values with the mean of the respective column when appropriate.
missing_va

In [18]:
summer_athletes_regions_df = summer_athletes_regions_df.drop_duplicates()

In [19]:
summer_athletes_regions_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166693 entries, 0 to 166705
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      166693 non-null  int64
 1   Name    166693 non-null  object
 2   Sex     166693 non-null  object
 3   Age     166693 non-null  float64
 4   Height  166693 non-null  float64
 5   Weight  166693 non-null  float64
 6   Team    166693 non-null  object
 7   NOC     166693 non-null  object
 8   Games   166693 non-null  object
 9   Year    166693 non-null  int64
 10  Season  166693 non-null  object
 11  City    166693 non-null  object
 12  Sport   166693 non-null  object
 13  Event   166693 non-null  object
 14  Medal   166693 non-null  object
 15  region  166423 non-null  object
 16  notes   3132 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 22.9+ MB

In [ ]:
    # Create a new dataframe without the NULL values for Age, Height and Weight.
athletes_clean_df = athletes_df.dropna(subset=['Age', 'Height', 'Weight']).copy()
    # Replace the NULL values in the 'Medal' column for 'None'
athletes_clean_df.fillna({'Medal':'None'}, inplace=True)
    # Check the clean dataframe
athletes_clean_df.isnull().sum()